body{
    background-color: #E6E6E6;
}
p{
    text-indent: 40px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis text{
    font: Times;
    font-size: 12px;
    font-weight: bold;
}
